### Classfication model using MultinomialNB

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('finaldataset.csv',encoding='latin1')

In [15]:
df.head()

   Unnamed: 0  label                                         tweet_text
0           0      4  USGS reports a M1.7 #earthquake 70km ESE of He...
1           1      3  QuakeFactor M 3.0, Southern Alaska: Sunday, Se...
2           2      3  What you wanna say abt #TTP #PeaceTalks &amp; ...
3           3      1  Top Story: Pakistan quake survivors face long ...
4           4      2  RT @SaimaMohsin: 264 dead, more than 400 injur...

In [19]:
df = df.drop(['Unnamed: 0'],axis=1)

In [20]:
df.groupby('label').describe()

      tweet_text                                                            \
           count unique                                                top
label
1           5132   4741  RT @Lunchboxhero45: Hurricane Odile.. Please s...
2           5884   5261  RT @PzFeed: This is the tragic sight of Los Ca...
3           9250   8805  RT @bgittleson: This photo is very California....
4           7471   6892  RT @RedCross: To check on loved ones in #Baja ...


      freq
label
1       24
2       54
3       27
4       24

In [21]:
df.columns

Index(['label', 'tweet_text'], dtype='object')

In [22]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
import re
import re
import sys
from nltk.stem.porter import PorterStemmer
from nltk.stem.porter import *
stemmer=PorterStemmer()
import random
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from scipy.sparse import lil_matrix
from sklearn.feature_extraction.text import TfidfTransformer
from nltk.corpus import stopwords
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import nltk

In [23]:
def is_valid_word(word):
    # Check if word begins with an alphabet
    return (re.search(r'^[a-zA-Z][a-z0-9A-Z\._]*$', word) is not None)

def handle_emojis(tweet):
    # Smile -- :), : ), :-), (:, ( :, (-:, :')
    tweet = re.sub(r'(:\s?\)|:-\)|\(\s?:|\(-:|:\'\))', ' EMO_POS ', tweet)
    # Laugh -- :D, : D, :-D, xD, x-D, XD, X-D
    tweet = re.sub(r'(:\s?D|:-D|x-?D|X-?D)', ' EMO_POS ', tweet)
    # Love -- <3, :*
    tweet = re.sub(r'(<3|:\*)', ' EMO_POS ', tweet)
    # Wink -- ;-), ;), ;-D, ;D, (;,  (-;
    tweet = re.sub(r'(;-?\)|;-?D|\(-?;)', ' EMO_POS ', tweet)
    # Sad -- :-(, : (, :(, ):, )-:
    tweet = re.sub(r'(:\s?\(|:-\(|\)\s?:|\)-:)', ' EMO_NEG ', tweet)
    # Cry -- :,(, :'(, :"(
    tweet = re.sub(r'(:,\(|:\'\(|:"\()', ' EMO_NEG ', tweet)
    return tweet

def preprocess_word(word):
    # Remove punctuation
    word = word.strip('\'"?!,.():;')
    # Convert more than 2 letter repetitions to 2 letter
    # funnnnny --> funny
    word = re.sub(r'(.)\1+', r'\1\1', word)
    # Remove - & '
    word = re.sub(r'(-|\')', '', word)
    return word

stop_words = set(stopwords.words('english'))
def preprocess_tweet(tweet):
    processed_tweet = []
    # Convert to lower case
    tweet = tweet.lower()
    # Replaces URLs with the word URL
    tweet = re.sub(r'((www\.[\S]+)|(https?://[\S]+))', 'URL', tweet)
    # Replace @handle with the word USER_MENTION
    tweet = re.sub(r'@[\S]+', 'USER_MENTION', tweet)
    # Replaces #hashtag with hashtag
    tweet = re.sub(r'#(\S+)', r' \1 ', tweet)
    # Remove RT (retweet)
    tweet = re.sub(r'\brt\b', '', tweet)
    # Replace 2+ dots with space
    tweet = re.sub(r'\.{2,}', ' ', tweet)
    # Strip space, " and ' from tweet
    tweet = tweet.strip(' "\'')
    # Replace emojis with either EMO_POS or EMO_NEG
    #tweet = handle_emojis(tweet)
    # Replace multiple spaces with a single space
    tweet = re.sub(r'\s+', ' ', tweet)
    #stop = stopwords.words('english')
    tokens = [word for sent in nltk.sent_tokenize(tweet) for word in nltk.word_tokenize(sent)]
    #tokens = [token for token in tokens if token not in stop]
    #tokens = [word for word in tokens if len(word) >= 2]
    #tagged = nltk.tag.pos_tag(tokens)
    #k=['NNP','NNPS']
    #tokens =[word for word,tag in tagged if tag not in k]
    tweet= ' '.join(tokens)
    #words = tweet.split()

    #for word in words:
    #    word = preprocess_word(word)
    #    if is_valid_word(word):
    #        word = str(stemmer.stem(word))
    #    processed_tweet.append(word)

    #return ' '.join(processed_tweet)
    return tweet

In [24]:
g=0
for i in df['tweet_text']:
    df.at[g,'tweet_text']=preprocess_tweet(i)
    g+=1

In [25]:
y=df['label']
df=df.drop('label',axis=1)

In [26]:
X_train,X_test,Y_train,Y_test=train_test_split(df['tweet_text'],y,test_size=0.2)

In [27]:
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(22189,)
(5548,)
(22189,)
(5548,)

In [28]:
from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(X_train)
#X_train_counts = count_vect.fit_transform(df2['tweet'])

X_train_counts.shape

(22189, 24323)

In [29]:
print(X_train_counts[0])

  (0, 22775)	1
  (0, 6324)	1
  (0, 23741)	1
  (0, 8948)	1
  (0, 24228)	1
  (0, 16358)	1
  (0, 23641)	1
  (0, 9701)	1
  (0, 6023)	1
  (0, 19961)	1
  (0, 23129)	1
  (0, 17510)	1
  (0, 14503)	1
  (0, 20096)	1
  (0, 10326)	1
  (0, 6010)	1
  (0, 4769)	1
  (0, 198)	1

In [30]:
from sklearn.feature_extraction.text import TfidfTransformer
tfidf_transformer = TfidfTransformer(use_idf=False)
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)
X_train_tfidf.shape

(22189, 24323)

In [31]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB().fit(X_train_tfidf,Y_train)

In [32]:
from sklearn.pipeline import Pipeline

text_clf = Pipeline([('vect', CountVectorizer()), ('tfidf', TfidfTransformer()), ('clf', MultinomialNB())])

text_clf = text_clf.fit(X_train,Y_train)

In [43]:
text_clf.score(X_test,Y_test) 
# Without using n-grams and Grid Search

0.8017303532804614

In [42]:
predicted_WGS = text_clf.predict(X_test)

In [34]:
from sklearn.model_selection import GridSearchCV
parameters = {'vect__ngram_range': [(1, 1), (1, 2),(1,3)], 'tfidf__use_idf': (True, False), 'clf__alpha': (1e-2, 1e-3)}

In [36]:
GS_clf = GridSearchCV(text_clf, parameters, n_jobs=-1)
GS_clf = GS_clf.fit(X_train, Y_train)

In [37]:
predicted_GS=GS_clf.predict(X_test)

In [39]:
GS_clf.score(X_test,Y_test)
# After applying Grid-Search

0.8229992790194665

In [58]:
pone=0
ptwo=0
pthree =0
pfour=0
for i in predicted_WGS:
    if i==1:
        pone =pone+1
    if i==2:
        ptwo =ptwo+1
    if i==3:
        pthree=pthree+1
    if i==4:
        pfour=pfour+1

In [59]:
one=0
two=0
three =0
four=0
for i in Y_test:
    if i==1:
        one=one+1
    if i==2:
        two=two+1
    if i==3:
        three=three+1
    if i==4:
        four=four+1

In [60]:
print("Acutal values vs. Predicted value without Gridsearch")
print(one,"\t", pone,'\t',pone/one)
print(two,"\t", ptwo,'\t',ptwo/two)
print(three,"\t", pthree,'\t',pthree/three)
print(four,"\t", pfour,'\t',pfour/four)

Acutal values vs. Predicted value without Gridsearch
989 	 926 	 0.9362992922143579
1174 	 1100 	 0.9369676320272572
1862 	 1948 	 1.046186895810956
1523 	 1574 	 1.0334865397242285

In [54]:
pone=0
ptwo=0
pthree =0
pfour=0
for i in predicted_GS:
    if i==1:
        pone =pone+1
    if i==2:
        ptwo =ptwo+1
    if i==3:
        pthree=pthree+1
    if i==4:
        pfour=pfour+1

In [57]:
print("Acutal values vs. Predicted value with Gridsearch")
print(one,"\t", pone,'\t',pone/one)
print(two,"\t", ptwo,'\t',ptwo/two)
print(three,"\t", pthree,'\t',pthree/three)
print(four,"\t", pfour,'\t',pfour/four)

Acutal values vs. Predicted value with Gridsearch
989 	 1131 	 1.1435793731041457
1174 	 1188 	 1.0119250425894377
1862 	 1812 	 0.9731471535982814
1523 	 1417 	 0.9304005252790545